ul li{

    list-style: none;
}
.container{
   display: flex;
   flex-direction: row;
   text-align: center;
}
.aa{
display: inline-block;


}
.aaa{
    float: right;
    font-style: italic;
}
img{
    width: 40px;
    height: 40px;
    /* padding-top: 5px; */
    float: left;

}
.inv-val{
    font-weight: bold;
    font-size: 1rem;
}