<mat-grid-list cols="4" rowHeight="60px" class="border">
    <mat-grid-tile [colspan]=4 [rowspan]=1>

        <div class="container">
            <div class="aa">
                <img src="./assets/ganesh.jpg" class="img-responsive" alt="Image">
            </div>
            <div class="aa" style="width: 80vw;">
                <div><span class="inv-val">Bill Of Supply</span><br><span class="inv-small-font">All subject to Hamirpur
                        Jurisdiction</span></div>

            </div>
            <div class="aa"><span class="inv-small-font italic">Original Copy</span></div>
        </div>


    </mat-grid-tile>

</mat-grid-list>