<mat-grid-list cols="11" rowHeight="50px" class="border">
    <mat-grid-tile-header>
        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(221, 180, 156);">
            <strong> S.No.</strong>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=3 [rowspan]=1 style="background-color: rgb(221, 180, 156);">
            <strong>No. of Particulars</strong>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(221, 180, 156);">
            <div>
                <strong>
                    HSN / SAC
                </strong>
            </div>
        </mat-grid-tile>
        <!-- ............................... -->
        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(221, 180, 156);">
            <strong>Bags</strong>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(221, 180, 156);">
            <strong>Packing</strong>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(221, 180, 156);">
            <strong> Weight</strong>
        </mat-grid-tile>
        <!-- .................................... -->
        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(221, 180, 156);">
            <strong>Rate</strong>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=1 style="background-color: rgb(221, 180, 156);">
            <strong>Value of Supply</strong>
        </mat-grid-tile>
    </mat-grid-tile-header>
</mat-grid-list>
<!-- .......................................... -->
<mat-grid-list cols="11" rowHeight="50px" class="border">
    <mat-grid-tile [colspan]=1 [rowspan]=7 style="background-color: rgb(177, 182, 185);">
        <div class="container">
            <div class="s_no">1</div>
            <div class="s_no">2</div>
            <div class="s_no">3</div>
            <div class="s_no">4</div>
            <div class="s_no">5</div>
            <div class="s_no">6</div>
            <div class="s_no">7</div>
        </div>

    </mat-grid-tile>
    <mat-grid-tile [colspan]=3 [rowspan]=7 style="background-color: rgb(177, 182, 185);">
        <div class="container">
            <div class="particulars">Chana</div>
            <div class="particulars">peanut</div>
            <div class="particulars">grains</div>
            <div class="particulars">wheat</div>
            <div class="particulars"></div>
            <div class="particulars"></div>
            <div class="particulars">7</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=7 style="background-color: rgb(177, 182, 185);">
        <div class="container">
            <div class="s_no">1</div>
            <div class="s_no">2</div>
            <div class="s_no">3</div>
            <div class="s_no">4</div>
            <div class="s_no">5</div>
            <div class="s_no">6</div>
            <div class="s_no">7</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=7 style="background-color: rgb(177, 182, 185);">
        <div class="container">
            <div class="s_no">1</div>
            <div class="s_no">2</div>
            <div class="s_no">3</div>
            <div class="s_no">4</div>
            <div class="s_no">5</div>
            <div class="s_no">6</div>
            <div class="s_no">7</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=7 style="background-color: rgb(177, 182, 185);">
        <div class="container">
            <div class="s_no">1</div>
            <div class="s_no">2</div>
            <div class="s_no">3</div>
            <div class="s_no">4</div>
            <div class="s_no">5</div>
            <div class="s_no">6</div>
            <div class="s_no">7</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=4 style="background-color: rgb(177, 182, 185);">
        <div class="container">
            <div class="s_no">1</div>
            <div class="s_no">2</div>
            <div class="s_no">3</div>
            <div class="s_no">4</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=4 style="background-color: rgb(177, 182, 185);">
        <div class="container">
            <div class="s_no">1</div>
            <div class="s_no">2</div>
            <div class="s_no">3</div>
            <div class="s_no">4</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2 [rowspan]=4 style="background-color: rgb(177, 182, 185);">
        <div class="container">
            <div class="s_no">1</div>
            <div class="s_no">2</div>
            <div class="s_no">3</div>
            <div class="s_no">4</div>
        </div>
    </mat-grid-tile>


    <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(209, 225, 233);">
        Sub Total
    </mat-grid-tile>
    <mat-grid-tile [colspan]=3 [rowspan]=1 style="background-color: rgb(209, 225, 233);">
        <p><span style="float: left;">₹</span>2,10,158,1</p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(209, 225, 233);">Insu rance
    </mat-grid-tile>
    <mat-grid-tile [colspan]=3 [rowspan]=1 style="background-color: rgb(209, 225, 233);">
        <p><span style="float: left;">₹</span><span style="float: right;">2,10,158,1</span></p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(209, 225, 233);">G. Total
    </mat-grid-tile>
    <mat-grid-tile [colspan]=3 [rowspan]=1 style="background-color: rgb(209, 225, 233);">
        <p>{{9999999.2 | currency:"INR":"symbol":'':"en-IN"}}</p>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=11 [rowspan]=1 style="background-color: rgb(177, 182, 185);">
        <div>Amount Chargables (in words) : 
        <span class="inv-val"><i>{{(convertToRupeesInWords(9999999.0))}}</i></span></div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=11 [rowspan]=2>
        <div class="details">
            <div class="terms" style="background-color: rgb(177, 202, 216);">
                <div class="content">
                    <strong style="font-size: 12px;">Terms and Conditions: </strong>
                    <div>1. Payment should be made by NEFFT/RTGS.</div>
                    <div>2. Interest will be charged @2%, if the payment is not made within 3days.</div>
                </div>
            </div>
            <div class="bankdetails" style="background-color: rgb(224, 243, 219);">
                <div class="bank">
                    <div><strong>Bank Details</strong></div>
                    <div><span style="float: left;">Bank Name:</span> <span style="float: right;">Axis Bank</span></div><br>
                    <div><span style="float: left;">Account Number:</span> <span style="float: right
                    ;">920020058674508</span></div><br>
                    <div><span style="float: left;">Branch and IFSC Code:</span> <span style="float: right
                        ;">Rath & UTIB0002798</span></div>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=11 [rowspan]=2 >
        <div class="last_slab">
            <div class="declaration">
                <div style="margin:25px 0px; width:90%;margin-left:2px">
                   <span style="text-decoration: underline;"> Declaration</span>
                   <br>
                   <span>We decalare that this invoice shows the actual price of the goods described and that all the particulars are true and correct.</span>
                </div>  
            </div>
            <div class="sign">
                <div >
                    <span style="font-weight: bold; font-size: 11px;">For M/S Santosh Kumar Pramod Kumar</span>
                    <span style="margin-top: 54px;float: right; margin-right: 4px;">Authorised Signatory</span>
                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>