
    <mat-grid-list cols="4" rowHeight="50px" class="border">
        <mat-grid-tile [colspan]=2 [rowspan]=3 style="background-color: rgb(176, 156, 230);">
            Hey DEEPAK
        </mat-grid-tile>

        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(176, 156, 230);">
            Hey DEEPAK
        </mat-grid-tile>

        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(176, 156, 230);">
            Hey DEEPAK
        </mat-grid-tile>

        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(176, 156, 230);">
            Hey DEEPAK
        </mat-grid-tile>

        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(176, 156, 230);">
            Hey DEEPAK
        </mat-grid-tile>

        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(176, 156, 230);">
            Hey DEEPAK
        </mat-grid-tile>

        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(176, 156, 230);">
            Hey DEEPAK
        </mat-grid-tile>
    </mat-grid-list>
    <!-- //.............................................................................................. -->
   
    <mat-grid-list cols="4" rowHeight="50px" class="border">
        <mat-grid-tile [colspan]=2 [rowspan]=2 style="background-color: rgb(205, 252, 200);">
            Hey DEEPAK
        </mat-grid-tile>

        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(205, 252, 200);">
            Hey DEEPAK
        </mat-grid-tile>

        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(205, 252, 200);">
            Hey DEEPAK
        </mat-grid-tile>

        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(205, 252, 200);">
            Hey DEEPAK
        </mat-grid-tile>

        <mat-grid-tile [colspan]=1 [rowspan]=1 style="background-color: rgb(205, 252, 200);">
            Hey DEEPAK
        </mat-grid-tile>

    </mat-grid-list>