*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 280px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}

.box1 {
    width: 50%;
    height: 100%;

}

.box11 {
    width: 100%;
    height: 50%;
    background-color: #dba9a9;
    padding: 3px 5px 3px 7px;
    border: 1px solid black;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.box12 {
    width: 100%;
    height: 50%;
    background-color: #756666;
    padding: 3px 5px 3px 7px;
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
}

.box2 {
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    border-right: 0px;
}

.col1 {
    width: 50%;
    height: 100%;
    /* background-color: #d89e9e; */

}

.col2 {
    width: 50%;
    height: 100%;
    /* background-color: #dba9a9; */

}
.row1{
width: 100%;
height: 55px;
background-color: #d89e9e;
border: 1px solid black;
border-bottom: 0px;
}
.row2{
    width: 100%;
    height: 55px;
    background-color: #bdb9c2;
    border: 1px solid black;
    border-bottom: 0px;
    line-height: 15px;
    border-right: 0px;
    }
h2{
        margin-bottom: 0%;
}